.animal-description {
  padding: 0 15px;
}

.custom-card {
  max-width: 500px;
  margin: auto;
}

.status-image {
  vertical-align: middle;
  width: 50px;
}

.card-title {
  padding-top: 15px;
}

ion-item {
  --background: rgba(0,0,0,0);
  --border-color: rgba(0,0,0,0);
}

