<ion-content class="ion-fullscreen ion-padding ion-text-center" *ngIf="data">
    <img *ngIf="data.image" [src]="data.image" class="animal-image" [alt]="data.commonName"/>
    <ion-card class="text-center custom-card align-self-center">
        <ion-item class="card-title">
            <ion-avatar slot="start">
                <img class="status-image" [src]="getImage(data.status)" [alt]="data.status">
            </ion-avatar>
            <ion-label>
                <h5><b>{{ data.commonName }}</b></h5>
                <h5><i>{{ data.scientificName }}</i></h5>
            </ion-label>
        </ion-item>
        <div class=animal-description>
            <p>{{ data.description }}</p>
        </div>
        <ion-footer>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button (click)="emitEvent()" fill='clear' color="secondary">{{button}}</ion-button>
                </ion-col>
                <ion-col class="ion-text-center">
                    <ion-button (click)="reportData(data)" fill='clear' color="danger" title="Report">Report</ion-button>
                </ion-col>
            </ion-row>
        </ion-footer>
    </ion-card>
</ion-content>
