<ion-content (ionScroll)="logScrolling($event)" [scrollEvents]="true"
             fullscreen
             padding
>
    <div class="container">
        <div class="grid-row">
            <div class="grid-item" *ngFor="let letter of alphabet; let indexArray = index;" (click)="setLetter(letter)">
                <ion-button color="light" fill="solid" shape="full" class='letter-button'>{{letter}}</ion-button>
            </div>
        </div>
    </div>
    <ion-fab *ngIf="showScrollToTopButton" horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="scrollToTop()" color="primary">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card>
        <ng-container *ngIf="animals">
            <ng-container *ngFor="let animal of animals">
                <ion-item (click)=openModal(animal)>
                    <ion-avatar slot="start">
                        <img [alt]='animal.commonName' src="{{animal.image}}">
                    </ion-avatar>
                    <ion-label>
                        <h2 class="ion-text-capitalize">{{animal.commonName}}</h2>
                        <p><i>{{ animal.scientificName }}</i></p>
                    </ion-label>
                </ion-item>
            </ng-container>
            <ion-button expand="full" color="secondary" (click)="loadMore()" *ngIf="!loading && !endOfResults">
                Load more
            </ion-button>
            <div *ngIf="loading">
                <div>
                    <span> Fetching results </span>
                    <ion-spinner name="lines"></ion-spinner>
                </div>
            </div>
        </ng-container>
    </ion-card>
</ion-content>
