<ion-content (ionScroll)="logScrolling($event)" [scrollEvents]="true"
             fullscreen
             padding
>
    <ion-fab *ngIf="showScrollToTopButton" horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button (click)="scrollToTop()" color="primary">
            <ion-icon name="arrow-up"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-card>
        <ion-virtual-scroll [headerFn]="separateAnimalsAlphabetically" [items]="animals">

            <ion-item-divider *virtualHeader="let letter" color="primary">
                <strong>{{ letter }}</strong>
            </ion-item-divider>
            <ion-item *virtualItem="let animal" (click)=openModal(animal)>
                <ion-avatar slot="start">
                    <img [alt]='animal.commonName' src="{{animal.image}}">
                </ion-avatar>
                <ion-label>
                    <h2 class="ion-text-capitalize">{{animal.commonName}}</h2>
                    <p><i>{{ animal.scientificName }}</i></p>
                </ion-label>
            </ion-item>
        </ion-virtual-scroll>

        <ion-infinite-scroll (ionInfinite)="loadMore($event)" threshold="100px">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
        </ion-infinite-scroll>
    </ion-card>
</ion-content>
