<ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
        <ion-tab-button tab="random-animal">
            <!--<fa-icon class="tab-icon" [icon]="['far', 'piggy-bank']"></fa-icon>-->
            <ion-label class="tab-label">Random Animal</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="animal-details">
            <!--<fa-icon class="tab-icon" [icon]="['far', 'award']"></fa-icon>-->
            <ion-label class="tab-label">News</ion-label>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
