// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  //--ion-color-primary: #607D8B;
  --ion-color-primary: #5d4037;
  --ion-color-primary-rgb: 93, 64, 55;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #47342c;
  --ion-color-primary-tint: #765046;

  /** secondary **/
  --ion-color-secondary: #CDDC39;
  --ion-color-secondary-rgb: 205, 220, 57;
  --ion-color-secondary-contrast: #757575;
  --ion-color-secondary-contrast-rgb: 117, 117, 117;
  --ion-color-secondary-shade: #a9b837;
  --ion-color-secondary-tint: #d9e83e;

  /** tertiary **/
  --ion-color-tertiary: #7044ff;
  --ion-color-tertiary-rgb: 112, 68, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 33;
  --ion-color-tertiary-shade: #633ce0;
  --ion-color-tertiary-tint: #7e57ff;

  /** success **/
  --ion-color-success: #007A70;
  --ion-color-success-rgb: 16, 220, 96;
  --ion-color-success-contrast: #E0EBEA;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #00645a;
  --ion-color-success-tint: #00867c;

  /** warning **/
  --ion-color-warning: #DBA90F;
  --ion-color-warning-rgb: 255, 206, 0;
  --ion-color-warning-contrast: #F2F0E8;
  --ion-color-warning-contrast-rgb: 255, 255, 255;
  --ion-color-warning-shade: #c1900f;
  --ion-color-warning-tint: #e2b10f;

  /** danger **/
  --ion-color-danger: #AE3226;
  --ion-color-danger-rgb: 245, 61, 61;
  --ion-color-danger-contrast: #F0E9E9;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #81281f;
  --ion-color-danger-tint: #ca3628;

  /** dark **/
  --ion-color-dark: #455A64;
  --ion-color-dark-rgb: 34, 34, 34;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #989aa2;
  --ion-color-medium-rgb: 152, 154, 162;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #7e8088;
  --ion-color-medium-tint: #c2c4cc;

  /** light **/
  --ion-color-light: #CFD8DC;
  --ion-color-light-rgb: 244, 244, 244;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #a3acb0;
  --ion-color-light-tint: #dee7eb;

  $background: #989aa2;
  // ** ION CONTENT ** //

  ion-content {
    --background: url('../assets/imgs/background.jpeg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  ion-toolbar {
    max-height: 10%;
    --background: rgba(0, 0, 0, 0);
    width: 100%;
    text-align: center;
    align-content: center;
    --border-bottom-color: black;
    --border-bottom-width: 1px;
  }

  // ** CARD ** //

  ion-card {
    --background: rgba(var(--ion-color-light-rgb), 0.5);
    border-radius: 0;
    color: var(--ion-color-dark-font);
  }

  .image {
    position: relative;
    width: 100%; /* for IE 6 */
  }

  .text {
    position: absolute;
    top: 200px;
    left: 0;
    width: 100%;
  }

  // ** RANDOM ANIMAL PAGE ** //

  .animal-image {
    max-width: 300px;
    max-height: 300px;
    margin: auto;
    object-fit: cover;
  }

  ion-toast.warning-toast {
    --color: var(--ion-color-warning) !important;
    --border-radius: 10px !important;
    --border-color: var(--ion-color-warning);
    --border-style: solid;
    --border-width: 1px;
    --background: var(--ion-color-warning-contrast);
  }

  //** SUCCESS HANDLING **//
  ion-toast.success-toast {
    --color: var(--ion-color-success) !important;
    --border-radius: 10px !important;
    --border-color: var(--ion-color-success);
    --border-style: solid;
    --border-width: 1px;
    --background: var(--ion-color-success-contrast);
  }
}
