@font-face {
  font-family: Cairo;
  src: url("../assets/fonts/Cairo-Regular.ttf");
}

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #62959c;
  --ion-color-primary-rgb: 98,149,156;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #568389;
  --ion-color-primary-tint: #72a0a6;

  --ion-color-secondary: #96715c;
  --ion-color-secondary-rgb: 150,113,92;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #846351;
  --ion-color-secondary-tint: #a17f6c;

  --ion-color-tertiary: #e1bc91;
  --ion-color-tertiary-rgb: 225,188,145;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c6a580;
  --ion-color-tertiary-tint: #e4c39c;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255,255,255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-dark: #444448;
  --ion-color-dark-rgb: 68,68,72;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #3c3c3f;
  --ion-color-dark-tint: #57575a;

  --ion-color-medium: #77787c;
  --ion-color-medium-rgb: 119,120,124;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255,255,255;
  --ion-color-medium-shade: #696a6d;
  --ion-color-medium-tint: #858689;

  --ion-color-light: #f8f5f1;
  --ion-color-light-rgb: 248,245,241;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #dad8d4;
  --ion-color-light-tint: #f9f6f2;


  .ion-color-critically-endangered {
    --ion-color-base: #cd302f;
    --ion-color-base-rgb: 205, 48, 47;
    --ion-color-base-contrast: #DF6867;
    --ion-color-base-contrast-rgb: 223, 104, 103;
    --ion-color-base-shade: #b42a29;
    --ion-color-base-tint: #d24544;
  }

  .ion-color-endangered {
    --ion-color-base: #CE662F;
    --ion-color-base-rgb: 206, 102, 47;
    --ion-color-base-contrast: #FFCD9A;
    --ion-color-base-contrast-rgb: 255, 205, 154;
    --ion-color-base-shade: #b55a29;
    --ion-color-base-tint: #d37544;
  }

  .ion-color-vulnerable {
    --ion-color-base: #CD9B00;
    --ion-color-base-rgb: 205, 155, 0;
    --ion-color-base-contrast: #FFFFCE;
    --ion-color-base-contrast-rgb: 255, 255, 206;
    --ion-color-base-shade: #b48800;
    --ion-color-base-tint: #d2a51a;
  }

  .ion-color-near-threatened {
    --ion-color-base: #006666;
    --ion-color-base-rgb: 0, 102, 102;
    --ion-color-base-contrast: #6AAF8B;
    --ion-color-base-contrast-rgb: 106, 175, 139;
    --ion-color-base-shade: #005a5a;
    --ion-color-base-tint: #1a7575;
  }

  .ion-color-least-concern {
    --ion-color-base: #006666;
    --ion-color-base-rgb: 0, 102, 102;
    --ion-color-base-contrast: #DEECEC;
    --ion-color-base-contrast-rgb: 222, 236, 236;
    --ion-color-base-shade: #005a5a;
    --ion-color-base-tint: #1a7575;
  }

  @mixin for-desktop {
    @media (min-width: 1100px) { @content; }
  }

  @mixin for-smaller-screen {
    @media (max-width: 1100px) and (min-width: 600px) { @content; }
  }

  @mixin for-mobile {
    @media (max-width: 600px) { @content; }
  }

  div, p, h1, h2, h3, h4, h5, h6, strong,
  .mat-expansion-panel-header-title,
  mat-expansion-panel-header {
    color: var(--ion-color-dark) !important;
  }

  $background: #989aa2;

  --ion-font-family: Cairo;

  // ** ION CONTENT ** //
  ion-content {
    --background: url(../assets/imgs/background.jpg) no-repeat center center fixed;
    --background-size: cover;
    color: var(--ion-color-medium);
    width: 100% !important;
  }

  // ** CARD ** //

  ion-card {
    --background: rgba(var(--ion-color-light-rgb), 0.7);
    border-radius: 0;
    color: var(--ion-color-dark-font);
    margin: auto;

    @include for-desktop {
      max-width: 500px;
    }

    @include for-mobile {
      max-width: 90%;
    }

    @include for-smaller-screen {
      max-width: 90%;
    }
  }

  .animal-description {
    padding: 0 20px;
    text-align: justify;
  }

  .status-image {
    vertical-align: middle;
    width: 50px;
  }

  .card-title {
    padding-top: 15px;
  }

  .animal-image {
    margin: 10px auto -15px auto;
    object-fit: cover;

    @include for-desktop {
      max-width: 500px;
    }

    @include for-mobile {
      max-width: 90%;
    }

    @include for-smaller-screen {
      min-height: 30%;
    }
  }

  ion-item {
    --background: rgba(0,0,0,0);
    --border-color: rgba(0,0,0,0);
  }

  ion-toast.warning-toast {
    --color: var(--ion-color-warning) !important;
    --border-radius: 10px !important;
    --border-color: var(--ion-color-warning);
    --border-style: solid;
    --border-width: 1px;
    --background: var(--ion-color-warning-contrast);
  }

  //** SUCCESS HANDLING **//
  ion-toast.success-toast {
    --color: var(--ion-color-success) !important;
    --border-radius: 10px !important;
    --border-color: var(--ion-color-success);
    --border-style: solid;
    --border-width: 1px;
    --background: var(--ion-color-success-contrast);
  }

  ion-tab-button {
    --color: var(--ion-color-medium);
    --color-selected: var(--ion-color-primary);
    --ion-font-family: Cairo;
  }

  .container {
    max-width: 1335px;
    margin: 0 auto 20px;
  }

  .grid-row {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  .grid-item {
    -ms-flex: auto;
    position: relative;
    padding: 2px;
    box-sizing: border-box;
  }
  .letter-button {
    width: 40px;
    opacity: 0.7;
  }

  .icon-button {
    --border-radius: 50px;
    --border-width: 3px;
  }

  ion-input {
    border-bottom: solid 2px var(--ion-color-primary);
    margin-bottom: 0;
  }

  ion-item {
    --highlight-background: none;
  }

  .mat-expansion-panel {
    background: none !important;
    box-shadow: none !important;
  }

  mat-expansion-panel-header {
    font-family: 'Cairo', serif !important;
    background: none !important;
  }

  mat-expansion-panel-header:hover  {
    font-family: 'Cairo', serif !important;
    background: none !important;
  }

  //:/deep/
  .mat-expansion-indicator::after, .mat-expansion-panel-header-description {
    color: var(--ion-color-dark);
  }

  .error-show {
    color: var(--ion-color-danger) !important;
    margin-bottom: 10px;
    text-align: center;
  }

}
